@use 'mixins';

.derived-stat-with-label {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5px;
  $-width: 50px;

  .derived-stat {
    min-width: $-width;
    padding: 5px;
    height: 50px;
    border: solid rgba(0, 0, 0, 0.2) 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__value {
      margin: 0;
      font-weight: bold;
      font-size: 1.2em;
      text-align: center;
    }
    &__modifier {
      display: flex;
      align-items: center;
      width: 25px;
    }
    &__label {
      @include mixins.label-small;
      text-align: center;
      width: $-width;
    }
  }

  &--big {
    $-big-width: 60px;
    .derived-stat {
      min-width: $-big-width;
      height: 70px;

      &__value {
        font-size: 1.8em;
      }

      &__modifier {
        width: 25px;
        input {
          height: 25px;
          text-align: center;
          font-size: 1em;
        }
      }
      &__label {
        font-size: 1em;
        width: $-big-width;
      }
    }
  }
}
