<div class="tab notes" data-group="primary" data-tab="notes">
  <h2>
    {{localize 'MYTHRAS.Journal'}}
  </h2>
  <div>
    <div class="desc" data-group="primary" data-tab="notes">
      {{ editor system.journal target="system.journal" button=true editable=editable }}
    </div>
  </div>
</div>