{{ localize 'MYTHRAS.Rolling' }} {{ weapon.name }}
<br />
<strong>{{ localize 'MYTHRAS.Size' }}: </strong>{{ weapon.size }}&#8195;
<strong>{{ localize 'MYTHRAS.Reach' }}: </strong>{{ weapon.reach }}
<br />
<strong>{{ localize 'MYTHRAS.Combat_Effects' }}: </strong>{{ weapon.combatEffects }}
<br />
<strong>{{ localize 'MYTHRAS.Traits' }}: </strong>{{ weapon.traits }}