{{ localize 'MYTHRAS.Rolling' }} {{ weapon.name }}
<br />
<strong>{{ localize 'MYTHRAS.Force' }}: </strong>{{ weapon.force }}
<br />
<strong>{{ localize 'MYTHRAS.Combat_Effects' }}: </strong>{{ weapon.combatEffects }}